/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

*{
    font-family: "Open Sans", sans-serif;
}

div {
    border: 0px solid green;
}

.glyphicon {
    color: #F57C00;
    font-size: 20px;
}


/*makes every h2 and h3 inside of "centered" elements centered*/
h2, h3{
    text-align: center;
}


body {
    background: #212121;
}


.content-box h2{
    color: #F57C00;
}

h3{
    color: #212121;
}

.content-box{
    background: dimgray;
    padding:20px;
    margin-bottom:20px;
    height:200px;
}

.stats-box{
    background: dimgray;
    padding:20px;
    margin-bottom:20px;
    height:270px;
}

.stats-box h3{
    color:red;
}


.rules-text{
    color:#BDBDBD;
}

.rules-text h3{
    color:#ff6d0b;
}



















/*navbar styling*/
.navbar-brand {
    padding: 0px;
    height: 50px;
}

.navbar-brand>img {
    height: 100%;
    padding: 1px;
    width: auto;
    margin-left:8px;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ff7507;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ff6d0b;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ff6d0b;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ff6d0b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ff6d0b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ff6d0b;
}

.navbar-default .navbar-link:hover {
    color: #ff6d0b;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ff6d0b;;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ff6d0b;
    }
}